.deps
.dirstamp
.libs
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]
/INSTALL
/aclocal.m4
/autom4te.cache
/config*.lineno
/config.log
/config.status
/configure
/goocanvasmm-*.tar.*
/libtool
/codegen/extradefs/generate_extra_defs
/goocanvas/goocanvasmm-*-uninstalled.pc
/goocanvas/goocanvasmm-*.pc
/goocanvas/goocanvasmmconfig.h
/goocanvas/src/.stamps
/doc/doc-install.pl
/doc/doc-postprocess.pl
/doc/doxygen.css
/doc/tagfile-to-devhelp2.xsl
